.top-line{
    position: absolute;
    height: 44px; 
    width: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
}
.vector1{
    position: absolute;
    left: 8.33%;
    right: 8.17%;
    top: 8.33%;
    bottom: 8.33%;
    background-color: #969696;
}
.number{
    position: absolute;
    width: 400px;
    height: 16px;
    left: 400px;
    top: 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #969696;
}
.autorization{
    position: absolute;
    width: 120px;
    height: 16px;
    left: 1023px;
    top: 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: right;
    color: #969696;
}
.second-line{
    position: absolute;
    width: 1536px;
    height: 80px;
    left: 0px;
    top: 44px;
}
.rectangle1{
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0px;
    top: 44px;
    background: #0F0F0F;
}
.name{
    position: absolute;
    width: 104px;
    height: 49px;
    left: 320px;
    top: 20px;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.rectangle2{
    position: absolute;
    width: 136px;
    height: 80px;
    left: 978px;
    top: 44px;
    background: #1F1F1F;
}
.like{
    position: absolute;
    width: 96px;
    height: 18px;
    left: 998px;
    top: 60px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.person-room{
    position: absolute;
    width: 140px;
    height: 18px;
    left: 1134px;
    top: 60px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
}
.settings{
    position: absolute;
    width: 78px;
    height: 18px;
    left: 1293px;
    top: 60px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
}
.test {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 124px;
    left: 0px;
}
.rectangle4{
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 320px;
    left: 40%;
    top: 250px;
    border: 4px solid #FFFFFF;
}
.porten{
    top: 343px;
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    margin-left: 25px;
    margin-right: 25px;
}
.city{
    top: 432px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.lorem-ipsum{
    position: absolute;
    width: 730px;
    height: 96px;
    left: 25%;
    top: 650px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.rectangle5{
    position: absolute;
    width: 740px;
    height: 650px;
    left: 0px;
    top: 877px;
    background: #000000;
}
.season{
    width: 376px;
    height: 39px;
    margin-left: 150px;
    margin-top: 50px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line2{
    width: 376px;
    height: 0px;
    margin-left: 150px;
    top: 78px;
    border-bottom: 5px solid #FFFFFF;
}
.rectangle6{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 40px;
    top: 1050px;
    background: #191B1C;
}
.rectangle7{
    position: absolute;
    width: 260px;
    height: 325px;
    left: 380px;
    top: 1050px;
    background: #191B1C;
}
.watch{
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    left: 20px; 
}
.model1{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 40px;
    top: 1390px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.model2{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 380px;
    top: 1390px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.man{
    position: absolute;
    width: auto;
    height: 650px;
    left: 736px;
    top: 877px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5));
}
.collection{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 950px;
    top: 1300px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line3{
    position: absolute;
    width: 200px;
    height: 0px;
    left: 1038px;
    top: 1360px;
    border-bottom: 5px solid #FFFFFF;
}
.bottom{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    gap: 10px;
    position: absolute;
    width: 138px;
    height: 47px;
    left: 1070px;
    top: 1420px;
    border: 1px solid #FFFFFF;
}
.catalog{
    width: 82px;
    height: 23px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    }
.man2{
    position: absolute;
    width:auto ;
    height: 450px;
    left: 0px;
    top: 1527px;
}
.rectangle10{
    position: absolute;
    width: 60.5%;
    height: 450px;
    left: 600px;
    top: 1527px;
    background: #000000;
}
.coll2020{
    width: 376px;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line4{
    width: 120px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: 2px solid #FFFFFF;
}
.txt{
    width: 471px;
    height: 173px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.bottom2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    gap: 10px;
    position: absolute;
    width: 311px;
    height: 47px;
    margin-left: 300px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
}
.look-at-collection{
    height: 23px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 300px;
}
.rectangle11{
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 1927px;
    background: #000000;
}
.new-collection{
    width: 440px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line5{
    width: 120px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: 2px solid #FFFFFF;
}
.rectangle12{
    position: absolute;
    width: 260px;
    height: 325px;
    margin-left: 100px;
    margin-top: 100px;
    background: #191B1C;
}
.rectangle13{
    position: absolute;
    width: 260px;
    height: 325px;
    margin-left: 460px;
    margin-top: 100px;
    background: #191B1C;
}
.rectangle14{
    position: absolute;
    width: 260px;
    height: 325px;
    margin-left: 820px;
    margin-top: 100px;
    background: #191B1C;
}
.rectangle15{
    position: absolute;
    width: 260px;
    height: 325px;
    margin-left: 1180px;
    margin-top: 100px;
    background: #191B1C;
}
.model3{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 100px;
    top: 650px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.model4{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 460px;
    top: 650px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.model5{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 820px;
    top: 650px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.model6{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 1180px;
    top: 650px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.rectangle16{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 2727px;
    background: #0F0F0F;
}
.brend{
    width: 289px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.picture-brend{
    position: absolute;
    width: auto;
    height: 94px;
    left: 100px;
    margin-top: 0px;
}
.picture-brend1{
    position: absolute;
    width: auto;
    height: 94px;
    left: 460px;
    margin-top: 0px;
}
.picture-brend2{
    position: absolute;
    width: auto;
    height: 94px;
    left: 820px;
    margin-top: 0px;
}
.picture-brend3{
    position: absolute;
    width: auto;
    height: 94px;
    left: 1180px;
    margin-top: 0px;
}
.footer1-img{
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 3027px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85), #C4C4C4)
}
.about-market{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 200px;
    top: 3100px;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.kategory{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 650px;
    top: 3100px;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.massage{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1100px;
    top: 3100px;
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-about-market{
    position: absolute;
    width: 350px;
    height: 147px;
    left: 150px;
    top: 3170px;
    text-align: justify;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;   
}
.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 70px;
    height: 15px;
    left: 600px;
    top: 3180px;
    background: #484646;
}
.frame2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 90px;
    height: 15px;
    left: 720px;
    top: 3180px;
    background: #484646;
}
.frame3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 79px;
    height: 15px;
    left: 860px;
    top: 3180px;
    background: #484646;
}
.frame4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 164px;
    height: 15px;
    left: 600px;
    top: 3225px;
    background: #484646;
}
.frame5{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 125px;
    height: 15px;
    left: 811px;
    top: 3225px;
    background: #484646;
}
.t{
    height: 23px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 300px;
}
.text-massage{
    position: absolute;
    width: 350px;
    height: 147px;
    left: 1060px;
    top: 3170px;
    text-align: justify;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF; 
}
.form-control{
    margin-left: 1050px;
    position: absolute;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(237, 234, 234, 0.732);;
    border: 1px solid black;
}
.block{
    height: fit-content;
    width: fit-content;
    position:relative;
    top: 3120px;
}
.frame8{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 140px;
    height: 18px;
    left: 1280px;
    top: 3268px;
    background: #0F0F0F;
}
.rectangle17{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 3427px;
    background: #0F0F0F;
}
.data{
    position: absolute;
    width: 300px;
    height: 16px;
    left: 200px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF; 
}
.production{
    position: absolute;
    width: 300px;
    height: 16px;
    left: 1200px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}